/* FONTS */
@font-face {
	font-family: bratz;
	src: url('../font/HouseOfFun-LVL4.ttf');
}
@font-face {
	font-family: curly;
	src: url('../font/JandaCurlygirlChunky.ttf');
}

/* BODY CSS */
:root {
	font-family: "Inconsolata", monospace;
	font-size: 19px;
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	background-image: url('https://dl.glitter-graphics.com/pub/1639/1639186ckukxjuuwf.gif');
	cursor: url('https://cur.cursors-4u.net/symbols/sym-7/sym629.ani'), url('https://cur.cursors-4u.net/symbols/sym-7/sym629.png'), auto !important;
}
header {
	display: flex;
	flex-direction: column;
	background-color: white;
}
.logo {
	font-size: 1.5rem;
	font-weight: bold;
	margin-left: 2rem;
	word-spacing: -15px;
}
.header-logo-gif {
	height: 30px;
	margin-left: 10px;
	margin-top: 5px;
}
.upper-nav {
	color: #9C4D75;
	background-color: black;
	display: flex;
	height: 70px;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	font-family: 'bratz', cursive;
}
.upper-nav-links {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
}
.upper-nav-links * {
	color: #9C4D75;
	margin-left: 1rem;
	text-decoration: none;
	font-family: 'curly', cursive;
}
.lower-nav {
	background-color: #9C4D75;
	color: black;
	height: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}
.lower-nav * {
	color: black;
	padding: 0.4rem;
	text-decoration: none;
	font-family: 'curly', cursive;
}
a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	text-decoration: none;
}
a:hover {
	color: #DFABC5;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main h4,
main p {
	color: white;
	font-family: 'curly', cursive;
	font-size: 50px;
}
main h2 {
	font-size: 50px;
	border: 5px solid ;
	border-radius: 30px;
	color: #9C4D75;
	background-color: #DFABC5;
	font-family: 'bratz', cursive;
	word-spacing: -15px;
}
main h2 img {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
button {
	font-family: 'bratz', cursive;
	font-size: 1rem;
	text-align: center;
	vertical-align: bottom;
	border-radius: 50px;
	padding: 0.5rem 1rem;
	color: black;
}
button:active {
	transform: scale(0.95);
}
.card-container {
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 1.5rem;
	margin: 2rem;
}
.cart-items-container {
	margin: 2rem;
	border-radius: 10px;
	font-family: 'curly', cursive;
}
.cart-items-total {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 1rem;
	background-color: #DFABC5;
	border: 8px solid #9C4D75;
	border-radius: 15px;
}
/* .divider {
	margin-top: -50px;
} */
.checkout-container {
	background-color: #DFABC5;
	border: 8px solid #9C4D75;
	border-radius: 15px;
}
.proceed-btn {
	background-color: #9C4D75;
	color: #DFABC5;
}
.proceed-btn:hover {
	background-color: white;
	color: #9C4D75;
}
.main-h2-gif {
	height: 60px;
}
.welcome-banner {
	height: 100px;
}
.img-below-cards {
	margin-bottom: 30px;
}
::selection {
	background: #BC5E8D; /* WebKit/Blink Browsers */
	COLOR: #ffb7b7;
}
::-moz-selection {
	background: #BC5E8D;/* Gecko Browsers */
	color: #ffb7b7;
}

/* MEDIA QUERIES */
@media (max-width: 750px) {
	:root {
		font-size: 17px;
	}
}

@media (max-width: 550px) {
	:root {
		font-size: 15px;
	}
	button {
		font-size: 0.8rem;
	}
	.card-container {
		gap: 1rem;
	}
	.cart-items-container {
		margin: 1rem;
	}
	.upper-nav {
		flex-direction: column;
		gap: 1rem;
	}
	.logo {
		margin: 0;
	}
}